{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/sh

sudo pacman -S zsh ripgrep fzf lsd fd bat git-delta yazi repgrep

{{ else if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
#!/bin/sh

sudo apt install zsh ripgrep fzf

{{ if and (eq .chezmoi.osRelease.id "debian") (le (int .chezmoi.osRelease.versionID) 11) -}}
echo "You need to manually install: lsd, fd-find, bat"
{{ else -}}
sudo apt install lsd fd-find bat
{{ end -}}

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt install git-delta

echo "You need to manually install: yazi, repgrep"
{{ else -}}
echo "You need to manually install: git-delta, yazi, repgrep"
{{ end -}}
{{ end -}}
