{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/sh

sudo pacman -S zsh ripgrep fzf fd git-delta lsd yazi repgrep

{{ else if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
#!/bin/sh

sudo apt install zsh ripgrep fzf rust-fd-find

{{ if and (eq .chezmoi.osRelease.id "debian") (le (int .chezmoi.osRelease.versionID) 11) -}}
echo "Manually install: lsd"
{{ else -}}
sudo apt install lsd
{{ end -}}

echo "Manually install: git-delta, yazi, repgrep"
{{ end -}}
